<div class="flex used-platforms-section justify-start gap-2 flex-wrap items-center border-t pt-3">
  {{#each this.platforms as |platform|}}
  <div class="flex flex-col items-center">
    <a href="{{platform.url}}"
      class="social-icon-btn w-16 h-16 rounded-lg border-gray-300 flex items-center justify-center relative {{if platform.selected 'text-white' 'bg-gray-100'}}"
      target="_blank" rel="noopener noreferrer" title="Share on LinkedIn">
      {{{platform.icon}}}
    </a>
    <span class="text-xs font-size-global font-bold mt-1">{{platform.name}}</span>
  </div>
  {{/each}}
</div>