.modal-backdrop {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex; justify-content: center; align-items: center;
    z-index: 1000;
}

.modal-box {
    background: white;
    
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    /* max-width: 900px; */
    margin: auto;
}
.modal-box-body{
    padding: 2rem;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.proposel-new .gh-onboarding-item-content{
    cursor: pointer;
}
.gh-btn-black, .gh-btn-primary {
    border-radius: 100px;
    min-width: 100px;
    margin-bottom: 10px;
}
.input-div{
    width: 80%;
    display: grid;
}
.input-div label{
 margin-bottom: 15px;
}
.form-control.first-input{
    margin-top: 10px;
}
textarea::placeholder {
    position: absolute;
    top: 0;
    padding-top: 15px;
    color: #6b7280;
}
.widget-two .form-control {
    width: 95%;
}
.widget-two .add-new-details-cta{
    margin-right: 5%;
}
.form-control {
    width: 100%;
    max-width: 100%;
    height: 80px;
    min-height: 75px;
    background-color: #d3e1e54a;
    padding: .75rem;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 4px;
}
.form-control:focus{
    border: none;
}

.badge {
    background-color: #64c53a;
    color: #fff;
    padding: .6rem 1.3rem;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 600;
    margin: 0 .25rem;
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.topic-div{
    /* background-color: #d3e1e54a; */
    padding: 10px 20px 0px 0px;
    border-radius: 5px;
    width: 80%;
}
.topic-div-content{
    color: #15171A;
    line-height: 2.5;
    text-align: center;
}
.close-btn{
    font-size: 25px;
    font-weight: 700;
}
.bottom-section {
    width: 100%;
    background-color: #000000;
    padding: 20px 20px;
    position: fixed;
    bottom: 0;
}
.bottom-section .cta-div  .gh-btn{
    height: 35px;
    background-color: transparent;
    color: #ffffff;
    border: none;
}
.bottom-section .gh-btn span{
    display: block;
    color: #ffffff;
    overflow: hidden;
    padding: 0;
    height: 34px;
    margin-right: 5px;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    border-radius: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pre-bottom-section .info-div svg{
    width: 20px;
    color: #15171a;
}
.pre-bottom-section .info-div span{
    color: #15171a;
}
.info-div svg{
    width: 20px;
    color: #ffffff;
}
.info-div span{
    color: #ffffff;
}
.cta-div{
    /* width: 215px; */
    justify-content: start;
}
.cta-div .gh-btn{
    background-color: #efefed;
    min-width: 100px;
}
.cta-div .gh-btn.gh-btn-primary {
    min-width: 100px;
    height: 35px;
    margin-bottom: 0;
    background-color: #ffffff;
    border-radius: 6px;
    color: #15171a;
    padding: 0px 10px;
    justify-content: space-between;
}
.cta-div .gh-btn.gh-btn-primary span {
    display: block;
    color: #15171a;
    overflow: hidden;
    padding: 0px;
    height: 34px;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    border-radius: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cta-div .gh-btn.gh-btn-primary:hover{
    min-width: 100px;
    height: 35px;
    margin-bottom: 0;
    background-color: #ffffff!important;
    border-radius: 6px;
    color: #15171a;
    cursor: pointer;
}
.tab-section{
    width: 50%;
    background-color:#f2f6f9; /*pervious was #efefed */
    padding: 5px 35px;
    border-radius: 100px;
}
.tab-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tab-div button{
    min-width: 95px;
}
.tabs {
    background-color: #f1f5f9;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    padding: 8px 24px;
    gap: 32px;
    font-size: 14px;
}

.tabs button {
    color: #6b7280;
}
.add-new-details-cta{
    cursor: pointer;
    color: #15171a;
}
/* .with-right-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px; */
    /* padding-top: 280px; */
/* }
.with-right-nav .left-main-content{
    display: flex;
    justify-content: space-between;
} */
.with-right-nav .right-nav-main{
    padding: 2rem;
    z-index: 999;
    height: 100dvh;
    min-width: 420px;
    overflow-x: visible;
    overflow-y: auto;
    
    border-left: 1px solid #e6e9eb;
}
.right-nav-main{
    z-index: 9999999999;
}
.opacity-30{
    opacity: 1;

} 
.bg-black-opacity{
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999999999;
}
.pointer-events-none {
    pointer-events: none;

}
/* .with-right-nav .left-main-content .modal-box-body {
    width: 80%;
} */
.social-icon-btn {
    width: 60px;
    padding: 10px 20px;
    background-color: #eeeeee;
    border-radius: 10px;
}
svg.green-check-social{
    color: white;
    background-color: #4dad32;
    border-radius: 100px;
    width: 21px;
    padding: 3px;
    position: absolute;
    right: -6px;
    top: 0px;
}
svg.gray-check-social{
    color: white;
    background-color: #a7a7a7;
    border-radius: 100px;
    width: 21px;
    padding: 3px;
    position: absolute;
    right: -6px;
    top: 0px;
}
.uploaded-file-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 4px;
    /* background-color: #f7f7f7; */
    margin-bottom: 4px;
    margin-right: 15px;
}

.pdf-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    /* background-color: #e0e0e0; */
    color: #fff;
    position: relative;
    margin-right: 5px;
}

.pdf-icon img {
    width: 30px;
    height: 30px;
    color: #666;
}


.tick-icon-pdf {
    position: absolute;
    top: -4px;
    right: 0;
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #f0fdf4;
    position: relative; */

}

.tick-icon-pdf svg{
    color: #ffffff;
    width: 18px;
    height: 18px;
}
.pdf-detail-list-div{
    display: flex;
    flex-direction: column;
}
.file-status {
    color: #595959;
    font-weight: 400;
}
.document-div .add-new-details-cta{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.add-new-details-cta svg{
    background-color: #64c53a;
    color: #fff;
    border-radius: 5px;
    width: 22px;
    height: 22px;
    font-size: 10px;
    padding: 3px;
    margin-right: 5px;
}
.uploaded-file-item-content{
    margin-right: 10px;
    min-width: 245px;
    width: 100%;
}
.document-div .form-control{
    height: 122px;
    display: flex;
    min-width: 255px;
    justify-content: center;
    align-items: center;
}
.document-div .drag-drop-tag{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    background-color: #ffffff;
    padding: 1rem;
}
.social-icon-platform-section{
    margin-top: 30px;
}
.list-icon-section{
    display: flex;
    flex-direction: column;
}
.list-icon, .list-icon svg{
    width: 25px;
    height: 25px;
}
.menu-cirlce-div.list-icon svg g path{
    fill:#5c5c5c;
}
.widget-three-modal-box{
    width: 70%;
}
.new-tag-icon{
    transform: rotate(45deg);
}
.bg-yellow{
    background-color: #fff2ccff;
}
.bg-blue{
    background-color: #c9daf8ff;
}
.bg-red{
    background-color: #e6b8afff;
}
.list-item-social-container .social-icon-btn{
    background-color: transparent;
}
.list-item-social-container .social-icon-btn svg path{
    fill: #969696;
}
.list-item-section{
    background-color: #f8f8f8ff;
    display: flex;
    gap: 5px;
}
.list-item-content{
    max-width: 435px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.list-item-content-div{
    flex-direction: column;
}
.widget-three-modal-box .list-item-social-container {
    background-color: #ffffff;
    padding: 5px;
}
.generated-ctas{
    display: flex;
    flex-direction: column;
}
.generated-ctas button{
    justify-content: center;
    display: flex;
    min-width: 120px;
    text-align: center;
    padding: 0 10px;
    height: 35px;
    align-items: center;
}
.idea-label{
    align-items: center;
    text-align: center;
    background-color: #efefef;
    padding: 2px 4px;
    min-width: 83px;
    color: #f45150;
    border-radius: 100px;
    font-size: 12px;
}
.generated-ctas button.gh-btn-primary{
    background-color:#efefef;
    border-radius: 6px;
    color: #15171a;
}
.generated-ctas button.gh-btn-primary:hover{
    color: #ffffff;
}
.tags-label{
    padding: 5px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    color: #595959!important;
}
.tabs button.active {
    color: black;
    font-weight: 600;
}
input[type="checkbox"].peer:checked + div {
    background-color: #000000;
    width: 45px;
    height: 25px;
  }
  input[type="checkbox"].peer + div{
    background-color: #a6a6a6;
    width: 45px;
    height: 25px;
  }
  input[type="checkbox"].peer + div .dot {
    transform: translateX(0px);
    background-color: white;
    width: 20px;
    height: 20px;
    top: 2px;
  }
  input[type="checkbox"].peer:checked + div .dot {
    transform: translateX(20px);
    background-color: white;
    width: 20px;
    height: 20px;
    top: 2px;
  }
  .toggle-label input[type="checkbox"].peer{
    background-color: #a6a6a6;
    border: 1px solid #a6a6a6;
    height: 20px;
    width: 20px;
  }
  .toggle-label input[type="checkbox"].peer .peer-checked:bg-black{
    width: 45px;
    height: 25px;
    background-color: black;
  }
  .toggle-label input[type="checkbox"].peer .peer-checked:bg-black .dot{
    background-color: white;
    width: 20px;
    height: 20px;
    top: 2px;
  }
.mt-8{
    margin-top: 80px;
}

.gap-3{
    gap: 30px!important;
}
.gap-1{
    gap: 10px!important;
}
.gap-2{
    gap: 20px!important;
}
.gap-5{
    gap: 50px;
}
.mb-0{
    margin-bottom: 0px!important;
}
.mb-2{
    margin-bottom: 20px!important;
}
.mb-1{
    margin-bottom: 10px!important;
}
.mt-4{
    margin-top: 40px;
}
.mt-2{
    margin-top: 20px;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.border-bottom-black{
    border-bottom: 2px solid #15171a;
} 
.items-start{
    align-items: start;
}
.text-black{
    color: #15171a;
}
.border-bottom-transparent{
    border-bottom: 2px solid transparent;
} 
.text-gray-500{
    color: #9e9e9e;
}

.space-y-15{
    display: grid;
    gap: 15px;
}
.ref-delete-btn svg{
    width: 20px;
    height: auto;
}
.ref-delete-btn svg:hover path{
    fill: #64c53a;
}
/* read more and read less feature */
.description-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    max-width: 100%;
  }
  
  .description-wrapper.expanded {
    -webkit-line-clamp: unset;
    max-height: none;
  }
  
  .read-toggle {
    color: #10b981; /* Tailwind green-500 */
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    margin-top: 4px;
    display: inline-block;
  }
.add-new-details-cta:hover{
    color: #64c53a;
}  
.add-new-details-cta.save-draft-cta-label {
    position: relative;
  }
  
  .save-draft-cta-label .tooltip {
    position: absolute;
    top: 50%;
    right: 122%;
    transform: translateY(-50%);
    background-color: #1f2937; /* dark gray */
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
  }
  
  .save-draft-cta-label .tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%) rotate(45deg);
    width: 8px;
    height: 8px;
    background-color: #1f2937;
    z-index: -1;
  }
  
  .generate-suggestion-list:hover .save-draft-cta-label .tooltip {
    opacity: 1;
  }
  
.right-nav-main .right-nav-panel{
    width: 440px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 27%);
    padding: 2rem;
}
.right-nav-panel .nav-tab{
    display: flex;
    vertical-align: middle;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}
.generate-addsuggestion-right-nav {
    background: white;
    z-index: 9999;
  }
.generate-addsuggestion-right-nav .add-new-details-cta{
    position: relative;
    width: 40px;
    gap: 0;
    right: 0;
    justify-content: end;
}
.generate-addsuggestion-right-nav .add-new-details-cta svg{
    margin-right: 10px;
    border-radius: 100px;
    left: 0;
    position: relative;
}
.generate-addsuggestion-right-nav label{
    max-width: 350px;
    width: 100%;
}
.right-nav-select-checkbox{
    margin-top: 5px;
    min-width: 45px;
    height: 25px;
}
.right-nav-panel .nav-tab img{
    width: 30px;
}
.right-nav-panel .nav-serach-btn svg{
    width: 20px;
    height: 20px;
}
.right-nav-main .badge {
    border-radius: 9999px;
    padding: 5px 20px;
    font-size: 12px;
    background-color: #e5e7eb;
    transition: background-color .2s ease;
    color: #595959;
  }
  .right-nav-main .badge:hover{
    color: #ffffff;
    background-color: #49647f;
  }
  .border{
    border: 1px solid;
  }
  .ideas-card{
    border-color: #d9d9d9;
    display: flex;
    max-width: 180px;
    text-align: center;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 25px;
  }
.generate-suggestion-list{
    position: relative;
}
.overflow-x-auto{
    overflow-x: auto;
}
/* .info-div span{
    width: 30px;
} */
@media screen and (max-width: 1250px){
    .lg-flex-column{
        flex-direction: column!important;
    }
    .w-full-lg{
        width: 100%;
    }
    .justify-lg-start{
        justify-content: start!important;
    }
    .pre-bottom-section{
        gap: 20px;
    }
    .tab-section{
        max-width: 500px;
    }
    
}
@media screen and (max-width: 740px){
    .list-item-social-container{
        flex-direction: column;
        justify-content: start !important;
        align-items: flex-start !important;
        gap: 25px;
        padding-left: 15px !important;
    }
}
@media screen and (max-width: 600px){
    .left-main-content{
        margin-bottom: 240px!important;
    }
}
@media screen and (max-width: 480px){
    .right-nav-main .right-nav-panel {
        width: 90%;
    }
    .left-main-content{
        margin-bottom: 310px!important;
    }
    .widget-two-modal-box .pre-bottom-section,.widget-three-modal-box .pre-bottom-section{
        bottom: 165px!important;
    }
    
    .uploaded-file-item-content {
        
        min-width: 175px;
        width: 100%;
    }
    .xs-flex-column{
        flex-direction: column;
    }
    .generate-addsuggestion-right-nav .add-new-details-cta {
        position: relative;
        top: -17px;
    }
}