<section class="gh-canvas" id="proposal-section">
    <style>
        .is-page {
            margin-top: 30px;
        }

        #proposal-section {
            background-color: #eee;
        }

        #proposal-section .container>div {
            background-color: #fff;
        }

        #_cbhtml {
            margin-top: 0;
        }

        #_cbhtml .is-rte-tool,
        #_cbhtml .is-elementrte-tool,
        .is-ui .is-rte-tool,
        .is-ui .is-elementrte-tool {
            top: 64px;
        }
    </style>
    <div id="proposal-container" class="container" style="opacity:0"></div>
</section>